/*
.NavBar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 100vw;
  background: white;
  &__logo {
    margin-left: 5%;
    height: 30%;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    &__notification {
      cursor: pointer;
      width: 35px;
    }
    &__avatar {
      border-radius: 50%;
      cursor: pointer;
      margin-left: 3%;
      width: 45px;
    }
  }
}

body {
  background: #efefef;
}
*/
.NavBar {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  &__logoContainer {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    &__logo {
      margin-left: 10%;
      height: 25px;
    }
  }
  &__actionsContainer {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    &__actions {
      &__notification {
        cursor: pointer;
        width: 25px;
      }
      &__avatar {
        border-radius: 50%;
        cursor: pointer;
        margin-left: 3%;
        width: 40px;
        margin-right: 15%;
      }
    }
  }
}
