.Login{
    width: 160px;
    height: 45px;
    border-radius: 45px;
    outline:none;
    cursor: pointer;
    font-family: 'montserrat-regular';
    font-size: 20px;
    outline-color: #F42191;
    border-width: 2px;
    color: white;
    border-color: #F42191;
    background: #001988;
}

.Register{
    width: 160px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    outline:none;
    font-family: 'montserrat-regular';
    font-size: 20px;
    outline-color: #F42191;
    border-width: 2px;
    color: white;
    border-color: #F42191;
    background: #F42191;
}

.Find{

    margin-top: 5%;
    width: 180px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    outline:none;
    font-family: 'montserrat-regular';
    font-size: 20px;
    outline-color: #16B1FF;
    border-width: 2px;
    color: white;
    border-color: #16B1FF;
    background: #16B1FF;
}