.SideBar {
  display: flex;
  flex-direction: column;
  background-color: #001988;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  &__profileImg {
    width: 60%;
  }
}
