.Feed {
  background-color: #efefef;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  &__sideNav {
    display: flex;
    overflow: hidden;
    width: 20%;
    height: 91vh;
  }
  &__feed {
    padding-left: 40px;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    width: 60%;
    height: 91vh;
    padding-bottom: 10px;
  }
  &__feed::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    width: 0 !important;
    height: 0;
  }
  &__other {
    display: flex;
    overflow: hidden;
    width: 20%;
    height: 90vh;
  }
}
.Feed_mobile {
  background-color: #efefef;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
  align-items: center;
  &__feed {
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    width: 100%;
    height: 90vh;
  }
}
