.Profile {
  display: flex;
  flex-direction: row;
  &__sideBar {
    width: 30%;
    height: 100vh;
  }
  &__nav {
  }
  &__content {
    width: 70%;
    height: 100vh;
    background-color: #efefef;
  }
}
