.Input{
     display: flex;
     border: 1px solid #707070;  
     border-radius: 7px; 
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 80%;
     height: 10%;
     margin: 10px;
     &__box{
          padding: 1px;
          &__field{
               border: none;
               font-size: 20px;
               outline:none;
               width: 95%;
          }
     }
}