.NGO {
  &__Container {
    margin-top: 10%;
    padding: 0 !important;
    padding-left: 0;
  }
  &__Form {
    &__label {
      font-weight: 400;
      font-family: "montserrat";
      color: #001988;
    }
  }
  &__checkLabel {
    margin-left: 25px;
    margin-bottom: -10px;
  }
  &__checkLabel2 {
    margin-left: 25px;
  }
  &__checkbox {
    background-color: #001988;
  }
  &__checkTxt {
    color: #001988;
    font-family: "montserrat";
    font-weight: 400;
  }
  &__checkRed {
    color: #f42191;
    font-family: "montserrat";
    font-weight: 700;
  }
  &__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__errMsg {
    margin-top: 20px;
    color: red;
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
  }
}
